<div class="">
  <div class="card-text">
    <strong>ID:</strong> <%= @employee.id %><br>
    <strong>Name:</strong> <%= @employee.fname %> <%= @employee.lname %><br>
    <strong>Company:</strong> <%= @company.name %><br>
  </div>
</div>