<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center text-primary mb-4">New Reimbursement Claim</h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
